html {
	font-size: 16px;
}

body {
  font-family: "helvetica neue";
  font-size: 1.5rem;
  margin: 0 auto 200px auto;
  padding: 1rem;
  max-width: 40rem;
}

img {
	min-width: 200px;
	max-width: 90%;
}

h1 {
	line-height: 0.9em; 
}

li {
	margin-top: 3rem;	
}

button {
  font-size: 16px;
}

p {
	font-size: 1rem;
}